#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.ant-upload.ant-upload-select-picture-card {
  width: 400px;
  height: 400px;
  line-height: 200px;
}

.ant-upload-list-picture-card .ant-upload-list-item {
  width: 400px;
  height: 400px;
}

.ant-upload-list-picture-card .ant-upload-list-item img {
  width: 100%;
  height: 100%;
}