.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 70px;
}

.headerFirstHalf, .headerSecondHalf{
    display: flex;
    gap: 20px;
    align-items: center;

    font-size: 20px;
}

.headerFirstHalf > div{
    cursor: pointer;
    transition: font-weight .3s ease;
}

.headerFirstHalf > div:hover{
    font-weight: 500;
}

.headerFirstHalf > a > div{
    cursor: pointer;
    transition: font-weight .3s ease;
}

.headerFirstHalf > a > div:hover{
    font-weight: 500;
}

.searchBtn{
    background-color: transparent;
}

.loginBtn{
    background-color: transparent;
    border: 2px solid black;
    color: rgb(0, 0, 0);

    width: 135px;
    height: 46px;

    text-align: center;

    padding: 0;

    transition: all .3s ease;
}

.loginBtn:hover{
    background-color: black;
    color: white;
}

.userAva{
    width: 50px;
    height: 100%;

    background-color: transparent;

    padding: 0;
    border: none;
    outline: none;
}

.userAva > img {
    border-radius: 50%;
    object-fit: cover;

    width: 50px;
    height: 50px;
}

.userActions{
    width: 170px;
    height: 177px;
    box-shadow: 0px 0px 5px 0px #00000040;
    border-radius: 0 0 15px 15px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    box-sizing: border-box;
    padding: 15px 0;

    top: 55px;
    right: 0;

    display: none;
}

.userActions > h1{
    font-size: 16px;
    cursor: pointer;
}

.userActions > h2{
    font-size: 14px;
    font-weight: 400;
    color: #1C1C1CCC;
}

.userActionsLine{
    width: 100%;
    height: 1px;
    background-color: #1C1C1C1A;
    margin-top: 10px;
}

.userAvaWrapper{
    position: relative;
}

.userActionsTextBlock{
    margin-top: 20px;
    text-align: left;
    padding-left: 15px;
    box-sizing: border-box;
}

.userActionsTextBlock h3, h4, h5{
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin: 0;
    cursor: pointer;
}