<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>У вас новый комментарий!</title>
</head>
<body>
    <h1 style="color: red;">У вас новый комментарий!</h1>
    <h2>Комментарий от {{ author_username }} был опубликован под постом "{{ post }}"</h2>
    <div>
        <h3>{{ text }}</h3>
        <p>{{ created_at }}</p>
        <a href="http://localhost:5173/api/v1/reviews/{{ post_id }}"><button style="width: 300px; height: 40px; margin: 0 auto;">Посмотреть</button></a>
    </div>
</body>
</html>