.login{
    width: 1280px;
    height: 100vh;

    padding: 10px;
    box-sizing: border-box;
}

.loginContainer{
    height: calc(100% - 70px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm{
    width: 324px;
    height: fit-content;

    display: flex;
    flex-direction: column;
}

.loginForm > h1{
    font-family: "Libre Baskerville", serif;
    font-size: 33px;
    font-weight: 700;
}

.loginForm > p{
    font-size: 16px;
    font-weight: 400;
    line-height: 64px;
}

.loginForm > input{
    width: 324px;
    height: 58px;

    padding: 10px;
    padding-left: 50px;
    box-sizing: border-box;
    border-radius: 10px;

    background-color: #F8F8F8;

    font-size: 16px;

    margin-top: 15px;
}

.inputUsername{
    background-image: url('../../assets/user.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 12.5px;
    color: black;
}

.inputPassword{
    background-image: url('../../assets/key.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 12.5px;
    color: black;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 10px;
}

.forgotPassword{
    background-color: transparent;
    width: fit-content;

    font-size: 12px;
    color: #1C1C1C80;

    padding: 0;
}

.loginBtn{
    width: 323px;
    height: 58px;

    margin-top: 15px;

    background-color: transparent;
    border: 2px solid black;
    color: black;

    font-size: 20px;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;

    text-align: center;

    padding: 0;

    transition: all .3s ease;
}

.loginBtn:hover{
    background-color: black;
    color: white;
}